
/* Your CSS Code here. */


.container{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .container .item {
   height : 100px;
   width:16%;
   background-color: green; 
}

.item1{
    background-color: red !important; 
    order:10;
}

.item2{
    background-color: blue !important;
    order:11;
}